@model JasonSoft.ShopTimeMVC.Models.CollectionViewModel

@{
    ViewBag.Title = "Collections";
}

<div class="row">
    <div class="col-lg-2">
        @Html.Partial("CategoryListLeft")
    </div>
    <div class="col-lg-10">

    @Html.Partial("Breadcrumbs")




        <div class="row">
            <div class="col-lg-3">
                
                
                <img src="/contents/images/tshirt.jpg" />
                <p class="text-center">
                    US $4.99
                </p>
            </div>
            <div class="col-lg-3">
                <img src="/contents/images/tshirt.jpg" />
            </div>
            <div class="col-lg-3">
                <img src="/contents/images/tshirt.jpg" />
            </div>
            <div class="col-lg-3">
                <img src="/contents/images/tshirt.jpg" />
            </div>
        </div>
    </div>
</div>

