@model JasonSoft.ShopTimeMVC.Models.LoginViewModel

@{
    ViewBag.Title = "Login Page";
}

@Html.Partial("Breadcrumbs")

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <form role="form" class="form-horizontal"">
            <p>Please enter your username and password.  If you @Html.PageLink("forget your password", "ForgotPassword"), we can re-send you a new password.</p>
            <div class="form-group">
                <label for="inputEmail1" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-6">
                    <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
                </div>
                <div class="col-lg-4">
                    <span class="text-danger">error message</span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword1" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-6">
                    <input type="password" class="form-control" id="inputPassword1" placeholder="Password">
                </div>
               <div class="col-lg-4">                   
                    <span class="text-danger">error message</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">
                            Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-default">Sign in</button>
                </div>
            </div>
        </form>
    </div>

</div>

