

<ul>
    <li>Top
        <ul>
            <li>TShirt</li>
            <li>POLO</li>
        </ul>
    </li>

    <li>Bottoms</li>
    <li>Accessories
        <ul>
            <li>111</li>
            <li>222</li>
        </ul>
    </li>
</ul>
